In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
# Set visualisation styles
sns.set(style="whitegrid")

# Load data
base_path = 'D:\\SMU_MLE_Apr2025\\Assignment 1\\data'  # Adjust this path if needed

features_attributes = pd.read_csv(os.path.join(base_path, 'features_attributes.csv'))
lms_loan_daily = pd.read_csv(os.path.join(base_path, 'lms_loan_daily.csv'))
features_financials = pd.read_csv(os.path.join(base_path, 'features_financials.csv'))
features_clickstream = pd.read_csv(os.path.join(base_path, 'feature_clickstream.csv'))

In [3]:
# Helper function for initial data check
def explore_df(df, name):
    print(f"\n--- {name} ---")
    print("Shape:", df.shape)
    print("\nColumns:", df.columns.tolist())
    print("\nData Types:\n", df.dtypes)
    print("\nMissing Values:\n", df.isnull().sum())
    print("\nSample Data:\n", df.head())

In [4]:
# Explore each dataset
explore_df(features_attributes, "features_attributes")
explore_df(lms_loan_daily, "lms_loan_daily")
explore_df(features_financials, "features_financials")
explore_df(features_clickstream, "features_clickstream")

--- features_attributes ---
Shape: (12500, 6)

Columns: ['Customer_ID', 'Name', 'Age', 'SSN', 'Occupation', 'snapshot_date']

Data Types:
 Customer_ID      object
Name             object
Age              object
SSN              object
Occupation       object
snapshot_date    object
dtype: object

Missing Values:
 Customer_ID      0
Name             0
Age              0
SSN              0
Occupation       0
snapshot_date    0
dtype: int64

Sample Data:
   Customer_ID            Name Age          SSN     Occupation snapshot_date
0  CUS_0x1000  Alistair Barrf  18  913-74-1218         Lawyer    01-05-2023
1  CUS_0x1009          Arunah  26  063-67-6938       Mechanic    01-01-2025
2  CUS_0x100b        Shirboni  19    #F%$D@*&8  Media_Manager    01-03-2024
3  CUS_0x1011       Schneyerh  44  793-05-8223         Doctor    01-11-2023
4  CUS_0x1013        Cameront  44  930-49-9615       Mechanic    01-12-2023

--- lms_loan_daily ---
Shape: (137500, 11)

Columns: ['loan_id', 'Customer_ID', 'loan_start_date', 'tenure', 'installment_num', 'loan_amt', 'due_amt', 'paid_amt', 'overdue_amt', 'balance', 'snapshot_date']

Data Types:
 loan_id            object
Customer_ID        object
loan_start_date    object
tenure              int64
installment_num     int64
loan_amt            int64
due_amt             int64
paid_amt            int64
overdue_amt         int64
balance             int64
snapshot_date      object
dtype: object

Missing Values:
 loan_id            0
Customer_ID        0
loan_start_date    0
tenure             0
installment_num    0
loan_amt           0
due_amt            0
paid_amt           0
overdue_amt        0
balance            0
snapshot_date      0
dtype: int64

Sample Data:
                  loan_id Customer_ID loan_start_date  tenure  installment_num  \
0  CUS_0x1000_2023_05_01  CUS_0x1000      01-05-2023      10                0
1  CUS_0x1000_2023_05_01  CUS_0x1000      01-05-2023      10                1
2  CUS_0x1000_2023_05_01  CUS_0x1000      01-05-2023      10                2
3  CUS_0x1000_2023_05_01  CUS_0x1000      01-05-2023      10                3
4  CUS_0x1000_2023_05_01  CUS_0x1000      01-05-2023      10                4

   loan_amt  due_amt  paid_amt  overdue_amt  balance snapshot_date
0     10000        0         0            0    10000    01-05-2023
1     10000     1000      1000            0     9000    01-06-2023
2     10000     1000      1000            0     8000    01-07-2023
3     10000     1000         0         1000     8000    01-08-2023
4     10000     1000      2000            0     6000    01-09-2023

--- features_financials ---
Shape: (12500, 22)

Columns: ['Customer_ID', 'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts', 'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan', 'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt', 'Credit_Utilization_Ratio', 'Credit_History_Age', 'Payment_of_Min_Amount', 'Total_EMI_per_month', 'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance', 'snapshot_date']

Data Types:
 Customer_ID                  object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries          int64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
snapshot_date                object
dtype: object

Missing Values:
 Customer_ID                    0
Annual_Income                  0
Monthly_Inhand_Salary          0
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                1426
Delay_from_due_date            0
Num_of_Delayed_Payment         0
Changed_Credit_Limit           0
Num_Credit_Inquiries           0
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age             0
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly        0
Payment_Behaviour              0
Monthly_Balance                0
snapshot_date                  0
dtype: int64

Sample Data:
   Customer_ID       Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
0  CUS_0x1000            30625.94            2706.161667                  6
1  CUS_0x1009           52312.68_            4250.390000                  6
2  CUS_0x100b  113781.38999999998            9549.782500                  1
3  CUS_0x1011            58918.47            5208.872500                  3
4  CUS_0x1013            98620.98            7962.415000                  3

   Num_Credit_Card  Interest_Rate Num_of_Loan  \
0                5             27           2
1                5             17           4
2                4              1           0
3                3             17           3
4                3              6           3

                                        Type_of_Loan  Delay_from_due_date  \
0          Credit-Builder Loan, and Home Equity Loan                   57
1  Not Specified, Home Equity Loan, Credit-Builde...                    5
2                                                NaN                   14
3  Student Loan, Credit-Builder Loan, and Debt Co...                   27
4  Student Loan, Debt Consolidation Loan, and Per...                   12

  Num_of_Delayed_Payment  ... Credit_Mix  Outstanding_Debt  \
0                     26  ...        Bad           1562.91
1                     18  ...          _            202.68
2                      8  ...       Good            1030.2
3                     13  ...   Standard            473.14
4                      9  ...       Good           1233.51

  Credit_Utilization_Ratio      Credit_History_Age  Payment_of_Min_Amount  \
0                30.077191   10 Years and 9 Months                    Yes
1                40.286997   31 Years and 0 Months                    Yes
2                28.592943  15 Years and 10 Months                     No
3                27.829959  15 Years and 10 Months                    Yes
4                26.524864  17 Years and 10 Months                     No

  Total_EMI_per_month Amount_invested_monthly  \
0           42.941090       77.31427572208112
1          108.366467       58.66019164829086
2            0.000000       617.0792665202719
3          123.434939      383.35084463651407
4          228.018084       332.3337079767732

                  Payment_Behaviour     Monthly_Balance snapshot_date
0  High_spent_Medium_value_payments  400.36080052211616    01-05-2023
1  High_spent_Medium_value_payments  508.01234122645366    01-01-2025
2   High_spent_Small_value_payments   597.8989834797281    01-03-2024
3   Low_spent_Medium_value_payments   294.1014665671429    01-11-2023
4  High_spent_Medium_value_payments   485.8897083704929    01-12-2023

[5 rows x 22 columns]

--- features_clickstream ---
Shape: (215376, 22)

Columns: ['fe_1', 'fe_2', 'fe_3', 'fe_4', 'fe_5', 'fe_6', 'fe_7', 'fe_8', 'fe_9', 'fe_10', 'fe_11', 'fe_12', 'fe_13', 'fe_14', 'fe_15', 'fe_16', 'fe_17', 'fe_18', 'fe_19', 'fe_20', 'Customer_ID', 'snapshot_date']

Data Types:
 fe_1              int64
fe_2              int64
fe_3              int64
fe_4              int64
fe_5              int64
fe_6              int64
fe_7              int64
fe_8              int64
fe_9              int64
fe_10             int64
fe_11             int64
fe_12             int64
fe_13             int64
fe_14             int64
fe_15             int64
fe_16             int64
fe_17             int64
fe_18             int64
fe_19             int64
fe_20             int64
Customer_ID      object
snapshot_date    object
dtype: object

Missing Values:
 fe_1             0
fe_2             0
fe_3             0
fe_4             0
fe_5             0
fe_6             0
fe_7             0
fe_8             0
fe_9             0
fe_10            0
fe_11            0
fe_12            0
fe_13            0
fe_14            0
fe_15            0
fe_16            0
fe_17            0
fe_18            0
fe_19            0
fe_20            0
Customer_ID      0
snapshot_date    0
dtype: int64

Sample Data:
    fe_1  fe_2  fe_3  fe_4  fe_5  fe_6  fe_7  fe_8  fe_9  fe_10  ...  fe_13  \
0    63   118    80   121    55   193   111   112  -101     83  ...    -16
1  -108   182   123     4   -56    27    25    -6   284    222  ...    -14
2   -13     8    87   166   214   -98   215   152   129    139  ...     26
3   -85    45   200    89   128    54    76    51    61    139  ...    172
4    55   120   226   -86   253    97   107    68   103    126  ...     76

   fe_14  fe_15  fe_16  fe_17  fe_18  fe_19  fe_20  Customer_ID  snapshot_date
0    -81   -126    114     35     85    -73     76   CUS_0x1037     2023-01-01
1    -96    200     35    130     94    111     75   CUS_0x1069     2023-01-01
2     86    171    125   -130    354     17    302   CUS_0x114a     2023-01-01
3     96    174    163     37    207    180    118   CUS_0x1184     2023-01-01
4     43    183    159    -26    104    118    184   CUS_0x1297     2023-01-01

[5 rows x 22 columns]

In [5]:
# Basic summary statistics
print("\n--- Summary Statistics ---")
print("\nfeatures_attributes:\n", features_attributes.describe(include='all'))
print("\nlms_loan_daily:\n", lms_loan_daily.describe(include='all'))
print("\nfeatures_financials:\n", features_financials.describe(include='all'))
print("\nfeatures_clickstream:\n", features_clickstream.describe())

--- Summary Statistics ---

features_attributes:
        Customer_ID      Name    Age        SSN Occupation snapshot_date
count        12500     12500  12500      12500      12500         12500
unique       12500     10139    301      11798         16            25
top     CUS_0x1000  Jessicad     26  #F%$D@*&8    _______    01-08-2024
freq             1         6    364        703        880           543

lms_loan_daily:
                       loan_id Customer_ID loan_start_date    tenure  \
count                  137500      137500          137500  137500.0
unique                  12500       12500              25       NaN
top     CUS_0x1000_2023_05_01  CUS_0x1000      01-08-2024       NaN
freq                       11          11            5973       NaN
mean                      NaN         NaN             NaN      10.0
std                       NaN         NaN             NaN       0.0
min                       NaN         NaN             NaN      10.0
25%                       NaN         NaN             NaN      10.0
50%                       NaN         NaN             NaN      10.0
75%                       NaN         NaN             NaN      10.0
max                       NaN         NaN             NaN      10.0

        installment_num  loan_amt        due_amt       paid_amt  \
count     137500.000000  137500.0  137500.000000  137500.000000
unique              NaN       NaN            NaN            NaN
top                 NaN       NaN            NaN            NaN
freq                NaN       NaN            NaN            NaN
mean           5.000000   10000.0     909.090909     711.810909
std            3.162289       0.0     287.480833     485.726859
min            0.000000   10000.0       0.000000       0.000000
25%            2.000000   10000.0    1000.000000       0.000000
50%            5.000000   10000.0    1000.000000    1000.000000
75%            8.000000   10000.0    1000.000000    1000.000000
max           10.000000   10000.0    1000.000000    4000.000000

          overdue_amt        balance snapshot_date
count   137500.000000  137500.000000        137500
unique            NaN            NaN            35
top               NaN            NaN    01-01-2025
freq              NaN            NaN          5539
mean       871.905455    5871.905455           NaN
std       2002.672544    3070.777575           NaN
min          0.000000       0.000000           NaN
25%          0.000000    3000.000000           NaN
50%          0.000000    7000.000000           NaN
75%          0.000000    8000.000000           NaN
max      10000.000000   10000.000000           NaN

features_financials:
        Customer_ID Annual_Income  Monthly_Inhand_Salary  Num_Bank_Accounts  \
count        12500         12500           12500.000000       12500.000000
unique       12500         12492                    NaN                NaN
top     CUS_0x1000      95596.35                    NaN                NaN
freq             1             2                    NaN                NaN
mean           NaN           NaN            4188.592303          16.939920
std            NaN           NaN            3180.147611         114.350815
min            NaN           NaN             303.645417          -1.000000
25%            NaN           NaN            1624.937917           3.000000
50%            NaN           NaN            3087.595000           6.000000
75%            NaN           NaN            5947.364167           7.000000
max            NaN           NaN           15204.633333        1756.000000

        Num_Credit_Card  Interest_Rate Num_of_Loan   Type_of_Loan  \
count      12500.000000   12500.000000       12500          11074
unique              NaN            NaN          87           6260
top                 NaN            NaN           3  Not Specified
freq                NaN            NaN        1808            176
mean          23.172720      73.213360         NaN            NaN
std          132.005866     468.682227         NaN            NaN
min            0.000000       1.000000         NaN            NaN
25%            4.000000       8.000000         NaN            NaN
50%            5.000000      14.000000         NaN            NaN
75%            7.000000      20.000000         NaN            NaN
max         1499.000000    5789.000000         NaN            NaN

        Delay_from_due_date Num_of_Delayed_Payment  ... Credit_Mix  \
count          12500.000000                  12500  ...      12500
unique                  NaN                    168  ...          4
top                     NaN                     19  ...   Standard
freq                    NaN                    735  ...       4497
mean              21.060880                    NaN  ...        NaN
std               14.863091                    NaN  ...        NaN
min               -5.000000                    NaN  ...        NaN
25%               10.000000                    NaN  ...        NaN
50%               18.000000                    NaN  ...        NaN
75%               28.000000                    NaN  ...        NaN
max               67.000000                    NaN  ...        NaN

        Outstanding_Debt Credit_Utilization_Ratio     Credit_History_Age  \
count              12500             12500.000000                  12500
unique             12213                      NaN                    393
top              1109.03                      NaN  16 Years and 2 Months
freq                   3                      NaN                     79
mean                 NaN                32.349265                    NaN
std                  NaN                 5.156815                    NaN
min                  NaN                20.100770                    NaN
25%                  NaN                28.066517                    NaN
50%                  NaN                32.418953                    NaN
75%                  NaN                36.623650                    NaN
max                  NaN                48.199824                    NaN

        Payment_of_Min_Amount Total_EMI_per_month Amount_invested_monthly  \
count                   12500        12500.000000                   12500
unique                      3                 NaN                   11921
top                       Yes                 NaN               __10000__
freq                     6571                 NaN                     558
mean                      NaN         1488.394291                     NaN
std                       NaN         8561.449910                     NaN
min                       NaN            0.000000                     NaN
25%                       NaN           31.496968                     NaN
50%                       NaN           72.887628                     NaN
75%                       NaN          169.634826                     NaN
max                       NaN        81971.000000                     NaN

                     Payment_Behaviour     Monthly_Balance snapshot_date
count                            12500               12500         12500
unique                               7               12500            25
top     Low_spent_Small_value_payments  400.36080052211616    01-08-2024
freq                              3202                   1           543
mean                               NaN                 NaN           NaN
std                                NaN                 NaN           NaN
min                                NaN                 NaN           NaN
25%                                NaN                 NaN           NaN
50%                                NaN                 NaN           NaN
75%                                NaN                 NaN           NaN
max                                NaN                 NaN           NaN

[11 rows x 22 columns]

features_clickstream:
                 fe_1           fe_2           fe_3           fe_4  \
count  215376.000000  215376.000000  215376.000000  215376.000000
mean      101.414796     103.096195     104.333709     105.648503
std        99.833594      99.930002     100.599865     100.326065
min      -378.000000    -356.000000    -399.000000    -307.000000
25%        34.000000      36.000000      36.000000      38.000000
50%       102.000000     103.000000     104.000000     106.000000
75%       169.000000     171.000000     172.000000     173.000000
max       541.000000     560.000000     583.000000     562.000000

                fe_5           fe_6           fe_7           fe_8  \
count  215376.000000  215376.000000  215376.000000  215376.000000
mean      106.996676     103.235922     107.070337     110.718724
std       100.693607     100.270388     100.323265     100.243698
min      -343.000000    -321.000000    -368.000000    -361.000000
25%        39.000000      36.000000      39.000000      43.000000
50%       107.000000     103.000000     107.000000     111.000000
75%       175.000000     171.000000     174.000000     179.000000
max       570.000000     565.000000     537.000000     573.000000

                fe_9          fe_10          fe_11          fe_12  \
count  215376.000000  215376.000000  215376.000000  215376.000000
mean      114.406354     117.775797      99.615537      99.823680
std       100.186139     100.807686     100.335428     100.591175
min      -328.000000    -317.000000    -375.000000    -344.000000
25%        47.000000      50.000000      32.000000      32.000000
50%       115.000000     118.000000     100.000000     100.000000
75%       182.000000     186.000000     167.000000     168.000000
max       577.000000     537.000000     613.000000     550.000000

               fe_13          fe_14          fe_15          fe_16  \
count  215376.000000  215376.000000  215376.000000  215376.000000
mean      100.420804     100.025801      99.600383      99.860834
std       100.881826     101.070371     101.145906     100.751876
min      -355.000000    -394.000000    -351.000000    -342.000000
25%        33.000000      32.000000      31.000000      32.000000
50%       101.000000     100.000000     100.000000     100.000000
75%       168.000000     168.000000     168.000000     168.000000
max       530.000000     583.000000     597.000000     554.000000

               fe_17          fe_18          fe_19          fe_20
count  215376.000000  215376.000000  215376.000000  215376.000000
mean      100.129425     100.125139     100.341162     100.046259
std       101.298428     102.231587     102.666804     103.589358
min      -329.000000    -344.000000    -401.000000    -354.000000
25%        32.000000      31.000000      31.000000      30.000000
50%       100.000000     100.000000     100.000000     100.000000
75%       169.000000     169.000000     170.000000     170.000000
max       516.000000     551.000000     560.000000     547.000000

In [6]:
# Date parsing and checks
for df, label in [
    (features_attributes, 'features_attributes'),
    (lms_loan_daily, 'lms_loan_daily'),
    (features_financials, 'features_financials'),
    (features_clickstream, 'features_clickstream')
]:
    if 'snapshot_date' in df.columns:
        df['snapshot_date'] = pd.to_datetime(df['snapshot_date'], errors='coerce')
        print(f"{label} date range: {df['snapshot_date'].min()} to {df['snapshot_date'].max()}")

features_attributes date range: 2023-01-01 00:00:00 to 2025-01-01 00:00:00
lms_loan_daily date range: 2023-01-01 00:00:00 to 2025-01-11 00:00:00
features_financials date range: 2023-01-01 00:00:00 to 2025-01-01 00:00:00
features_clickstream date range: 2023-01-01 00:00:00 to 2024-12-01 00:00:00

In [7]:
# Remove characters from "_" onwards in Age column
features_attributes["Age"] = features_attributes["Age"].astype(str).str.replace(r'_.*', '', regex=True)

# Convert to numeric (will still catch things like "abc" as NaN)
features_attributes["Age"] = pd.to_numeric(features_attributes["Age"], errors="coerce")

# Check if age is valid
features_attributes["is_age_valid"] = features_attributes["Age"].between(18, 99)

# SSN validity check using regex
features_attributes["is_ssn_valid"] = features_attributes["SSN"].str.match(r'^\d{3}-\d{2}-\d{4}$')

In [8]:
features_attributes.head(20)

,Customer_ID,Name,Age,SSN,Occupation,snapshot_date,is_age_valid,is_ssn_valid
0,CUS_0x1000,Alistair Barrf,18,913-74-1218,Lawyer,2023-01-05,True,True
1,CUS_0x1009,Arunah,26,063-67-6938,Mechanic,2025-01-01,True,True
2,CUS_0x100b,Shirboni,19,#F%$D@*&8,Media_Manager,2024-01-03,True,False
3,CUS_0x1011,Schneyerh,44,793-05-8223,Doctor,2023-01-11,True,True
4,CUS_0x1013,Cameront,44,930-49-9615,Mechanic,2023-01-12,True,True
5,CUS_0x1015,Holtono,27,810-97-7024,Journalist,2023-01-08,True,True
6,CUS_0x1018,Felsenthalq,15,731-19-8119,Accountant,2023-01-11,False,True
7,CUS_0x1026,Josephv,52,500-62-9044,Manager,2023-01-10,True,True
8,CUS_0x102d,Neil Chatterjeex,31,692-71-7552,Entrepreneur,2024-01-01,True,True
9,CUS_0x102e,Rhysn,26,#F%$D@*&8,Scientist,2024-01-04,True,False
10,CUS_0x1032,Wahbap,40,620-58-8045,Lawyer,2023-01-08,True,True
11,CUS_0x1037,Matthewm,45,230-22-9583,Accountant,2023-01-01,True,True
12,CUS_0x1038,B.h,28,355-00-7832,Architect,2024-01-10,True,True
13,CUS_0x103e,Tim Kellyf,40,155-72-8070,Scientist,2024-01-12,True,True
14,CUS_0x1041,Jonathan Stempela,15,675-80-2033,Teacher,2023-01-11,False,True
15,CUS_0x1044,Maki Shirakip,44,#F%$D@*&8,_______,2023-01-06,True,False
16,CUS_0x1048,Janet McGurtyg,27,808-81-2470,Accountant,2024-01-02,True,True
17,CUS_0x104a,Leahk,37,#F%$D@*&8,Mechanic,2023-01-12,True,False
18,CUS_0x104e,Kentaros,50,837-93-5062,Teacher,2023-01-06,True,True
19,CUS_0x104f,Markm,20,264-84-8069,_______,2024-01-10,True,True

In [9]:
print(features_attributes.value_counts("is_age_valid"))
print(features_attributes.value_counts("is_ssn_valid"))
print(features_attributes.isnull().sum().sum())

is_age_valid
True     11512
False      988
Name: count, dtype: int64
is_ssn_valid
True     11797
False      703
Name: count, dtype: int64
0